// COLORES PRINCIPALES
$colorNegro: #000;
$colorNegroDegradado: rgba(0, 0, 0, 0.8);
$colorBlanco: #fff;
$colorBlancoDegradado: #fdfdfdd4;
$colorGris: #ccc;
$colorDorado: #ad8d00;
$colorRojo: #ad0000;
$colorRojoDegradado: #df2a2a42;
$colorRojoFerrari: #df2a2a;
$colorVerde: rgb(0, 138, 0);
