@font-face {
  font-family: "Deutschlander";
  src: url("../../assets/fonts/Deutschlander.otf");
}

@font-face {
  font-family: "Republica-minor-bold-italic";
  src: url("../../assets/fonts/Republica\ Minor\ Bold\ Italic.ttf");
}

@font-face {
  font-family: "Republica-minor-regular";
  src: url("../../assets/fonts/Republica\ Minor\ Regular.ttf");
}

@font-face {
  font-family: "NFL";
  src: url("../../assets/fonts/NFL_Minnesota_Vikings[1].ttf");
}
