@import "mixins/_mixins.scss";
@import "variables/_colors.scss";

h1,
h2,
h3,
h4,
h5 {
  font-family: Armstrong;
}

p {
  font-family: NFL;
}

a {
  text-decoration: none;
  color: $colorBlanco;
  font-size: 1.5rem;
}

.section {
  @include background-image-content("../../assets/img/fondoAbout.svg");
  color: $colorBlanco;
}
